<mat-toolbar color="primary">
    <span>My category</span>
    <div class="button-bar">
        <button mat-icon-button
                color="accent"
                (click)="changeForm()">
            <mat-icon aria-label="">add circle</mat-icon>
        </button>
    </div>
</mat-toolbar>
<div class="wrapperContent">
    <app-edit-category *ngIf="showForm"></app-edit-category>

    <mat-list role="list" *ngIf="categories.length">

        <mat-list-item role="listitem"
                       *ngFor="let category of categories | sortBy: 'title'"
                       [class.selected]=category.check>
            <div class="start">
                {{ category.title | uppercase }}
            </div>
            <div class="end">
                <button mat-icon-button
                        color="primary">
                    <mat-icon aria-label=""
                              (click)="edit(category)">edit</mat-icon>
                </button>
                <button mat-icon-button
                        color="primary"
                        (click)="delete(category)">
                    <mat-icon aria-label="">delete</mat-icon>
                </button>
            </div>
        </mat-list-item>
    </mat-list>


</div>

