<div class="popup" *ngIf="showForm">
    <button mat-icon-button
            color="primary"
            (click)="changeForm()">
        <mat-icon aria-label=""
        (click)="changeForm()">close</mat-icon>
    </button>
    <form #form="ngForm" (ngSubmit)="onSubmitAdd()">
        <mat-form-field class="full-width">
            <input matInput
                   [(ngModel)]="currentCategory.title"
                   name="title"
                   type="text"
                   placeholder="Category title"
                   required>
        </mat-form-field>
        <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!form.valid" *ngIf="currentCategory.id">Create
        </button>
        <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!form.valid" *ngIf="!currentCategory.id">Save
        </button>
    </form>
</div>
