<div id="main">
  <mat-tab-group>
    <mat-tab label="Categories">
      <app-category></app-category>
    </mat-tab>
    <mat-tab label="Location">
      <app-location></app-location>
    </mat-tab>
  </mat-tab-group>
</div>

<!--<router-outlet></router-outlet>-->